body {
    font-family: Raleway;
    margin: 35px auto;
    max-width: 1080px;
    width: 90%;
    line-height: 1.4;
}

a {
    color: #0097A7;
}

h2,
header,
strong,
a:hover,
a:focus {
    color: #006064;
}

h4 {
    color: #888888;
}

ol > li {
    padding-bottom: 8px;
}

header {
    font-size: 2.5em;
    margin-bottom: 35px;
    font-weight: bold;
}

.download {
    color: white;
    cursor: pointer;
    border: none;
    background-color: #0097A7;
    float: right;
    width: 100px;
    padding: 10px 15px;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.download:focus,
.download:hover {
    background-color: #006064;
}
